<%- include('../main/layoutStart', {title: metaTitle}) %>
<%- include('../main/header', {title, navigation, currentUrl}) %>

<main class="main">
  <h1>Редактировать книгу «<%= book.title %>»</h1>
  <%- include('../add-book/book-form', {
    action: `/api/books/${book.id}`,
    enctype: 'application/x-www-form-urlencoded',
    buttonName: 'Редактировать',
    put: true,
    book,
  }) %>
</main>

<%- include('../main/layoutEnd') %>
